body{ 
  background-color:#152238;
}
  h1{
    color:white;
  }
h2{
  color:white;
}
h3{
  color:white;
}
p{color:white;}

footer {
      background-color: #203354; 
      color: white;
      text-align: center;
      padding: 35px 0;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
}
